{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid home-container">
    <div class="row align-items-center">
        <div class="col-sm-12 text-center">
            <h2><strong>Reviews</strong></h2>
        </div>
    </div>
    {% for review in reviews %}
    <hr class="hr-1">
    <div class="row featurette">
        <div class="col-sm-12">
            <h2 class="featurette-heading">{{ review.title }}</h2>
            <p class="lead">{{ review.content }}</p>
            <div class="row justify-content-between mx-2">
                <p>By: {{ review.user }}</p>
                <p>Created on: {{ review.created }}</p>
                <p>Last Updated: {{ review.updated }}</p>
            </div>
            <!-- Add user authentication if -->
            <div class="text-center">
                <a href="edit/{{ review.id }}" class="mx-2">
                    <button class="positive-button mb-2">Edit</button></a>
                <a href="delete/{{ review.id }}" class="mx-2 mb-2">
                    <button class="negative-button">Delete</button></a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12 text-center py-4">
            <a href="delete/{{ review.id }}">
                <button class="positive-button-lg">Add a review</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}