{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid home-container">
    <div class="row align-items-center">
        <div class="col-sm-12 text-center mt-4">
            <h2><strong>Reviews</strong></h2>
        </div>
    </div>
    {% for review in reviews %}
    <hr class="hr-1">
    <div class="row featurette">
        <div class="col-sm-12">
            <h2 class="featurette-heading">{{ review.title }}</h2>
            <p class="lead">{{ review.content }}</p>
            <div class="row justify-content-between mx-1">
                <p>By: {{ review.user }}</p>
                <p>Created on: {{ review.created }}</p>
                <p>Last Updated: {{ review.updated }}</p>
            </div>
            {% if review.user == user %}
            <div class="text-center">
                <a href="reviews/edit/{{ review.id }}" class="mx-2">
                    <button class="positive-button mb-2">Edit</button></a>
                <a href="reviews/delete/{{ review.id }}" class="mx-2 mb-2">
                    <button class="negative-button">Delete</button></a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    
    <div class="row">
        <div class="col-sm-12 text-center py-4">
            {% if user.is_authenticated %}
            <a href="{% url 'home:add_review' %}">
                <button class="positive-button-lg mb-4">Add a review</button>
            </a>
            {% else %}
            <p>If you would like to add your own review, please login or sign up if you haven't already!</p>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}