{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron home-1 text-center mb-4">
    <h1 class="display-4"><strong>Reviews</strong></h1>
</div>
<!-- Display Reviews -->
<div class="container-fluid">
    {% for review in reviews %}
    <hr class="hr-1">
    <div class="row featurette">
        <div class="col-sm-12">
            <h2 class="featurette-heading">{{ review.title }}</h2>
            <p class="lead">{{ review.content }}</p>
            <div class="row justify-content-between mx-1">
                <p>By: {{ review.user }}</p>
                <p>Created on: {{ review.created }}</p>
                <p>Last Updated: {{ review.updated }}</p>
            </div>
            {% if review.user == user %}
            <div class="text-center">
                <button class="positive-button mb-2" onclick="location.href='reviews/edit/{{ review.id }}'">Edit</button>
                <button class="negative-button mb-2" onclick="location.href='reviews/delete/{{ review.id }}'">Delete</button>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<!-- Add review button for logged in users -->
<div class="row">
    <div class="col-sm-12 text-center py-4">
        {% if user.is_authenticated %}
        <button class="my-1 negative-button-lg" onclick="location.href='{% url 'home:add_review' %}'">Add a Review</button>
        {% else %}
        <p>If you would like to add your own review, please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">sign up</a> if you haven't already!</p>
        {% endif %}
    </div>
</div>

{% endblock %}