{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron home-1 text-center mb-4">
    <h1 class="display-4"><strong>My Profile</strong></h1>
</div>
<!-- Current Details -->
<div class="row justify-content-center">
    <div class="col-6 fw-bold mx-4 my-4">
        <h2>Current Details</h2>
        <ul class="details_list">
            <li>
                <strong>First Name: </strong> {{ first_name }}
            </li>
            <li>
                <strong>Last Name: </strong> {{ last_name }}
            </li>
            <li>
                <strong>Email: </strong> {{ email }}
            </li>
            <li>
                <strong>Phone Number: </strong> {{ phone_number }}
            </li>
            <li>
                <strong>Address 1: </strong> {{ address_1 }}
            </li>
            <li>
                <strong>Address 2: </strong> {{ address_2 }}
            </li>
            <li>
                <strong>City: </strong> {{ city }}
            </li>
            <li>
                <strong>Postcode: </strong> {{ postcode }}
            </li>
            <li>
                <strong>County: </strong> {{ county }}
            </li>
            <li>
                <strong>Country: </strong> {{ country }}
            </li>
        </ul>
        <a href="edit/{{ user }}"><button class="my-1 positive-button-lg">Update my Details</button></a>
    </div>
    <!-- Order History -->
    <div class="col-6 fw-bold">
        <h2>Order History</h2>
        {% if orders %}
        <table class="table table-striped table-hover w-auto table-bordered text-white">
            <tr>
                <th scope="col" class="w-auto">Order Number:</th>
                <th scope="col">Order Date:</th>
                <th scope="col" colspan=2>Total:</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td scope="row">{{ order.order_number }}</td>
                <td> {{ order.date }} </td>
                <td>£{{ order.order_total }} </td>
                <td><a href="order/{{ order.id }}"><button class="update-button positive-button">Order
                            Details</button></a>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <div>
            Uh oh- no orders yet...
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}