{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron home-1 text-center mb-4">
    <h1 class="display-4"><strong>My Profile</strong></h1>
</div>

<div class="col-12 fw-bold">
    <h2>Current Details</h2>
    <ul>
        <li>
            Email: {{ email }}
        </li>
        <li>
            Phone Number: {{ phone_number }}
        </li>
        <li>
            Address 1: {{ address_1 }}
        </li>
        <li>
            Address 2: {{ address_2 }}
        </li>
        <li>
            City: {{ city }}
        </li>
        <li>
            Postcode: {{ postcode }}
        </li>
        <li>
            County: {{ county }}
        </li>
        <li>
            Country: {{ country }}
        </li>
    </ul>
</div>
<div class="row justify-content-center">
    <div class="col-auto text-center p-2">
        <a href="edit/{{ user }}"><button class="my-1 positive-button-lg">Edit my Profile</button></a>
    </div>
</div>


{% endblock %}