{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron home-1 text-center mb-4">
    <h1 class="display-4"><strong>Checkout</strong></h1>
</div>

<div class="container-fluid">
    <div class="row justify-content-center mx-4 w-80">
        <div class="col-12 text-center table-responsive bg-white px-0">
            <table class="table table-striped table-hover w-auto table-bordered">
                <tr>
                    <th scope="col" colspan="2" class="w-auto">Product:</th>
                    <th scope="col">Price:</th>
                    <th scope="col">Quantity:</th>
                </tr>
                {% for item in bag_contents %}
                <tr>
                    <td scope="row" class="product-column">{{ item.product.name }}</td>
                    <td class="product-column"><img src="{{ item.product.image_url }}" alt="{{ item.product.name }}"
                            class="bag-image"></td>
                    <td>£{{ item.product.price }} </td>
                    <td> {{ item.quantity }} </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan=3><strong>Subtotal:</strong></td>
                    <td colspan=2><strong>£{{ total }}</strong></td>
                </tr>
            </table>
        </div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 text-center mt-4">
                    <p>Fill out the below order form to proceed with your purchase (and make your pets very happy!)</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto text-center p-3">
                    <form method="post" id="order_form">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                            {{ order_form.first_name | as_crispy_field }}
                            {{ order_form.last_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                            {{ order_form.phone_number | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                            {{ order_form.street_address_1 | as_crispy_field }}
                            {{ order_form.street_address_2 | as_crispy_field }}
                            {{ order_form.city | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}
                            {{ order_form.country | as_crispy_field }}
                            <div class="form-check form-check-inline float-right mr-0">
                                {% if user.is_authenticated %}
                                <label class="form-check-label" for="id-save-info">This info will save to your profile</label>
                                {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this
                                    information
                                </label>
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset class="px-3">
                            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                            <div id="paypal-button-container"></div>
                            <p class="small text-danger my-0">
                                Your card will be charged <strong>£{{ total|floatformat:2 }}</strong>
                            </p>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12 text-center mb-4">
                <a href="{% url 'bag:bag' %}">
                    <button class="negative-button mx-4">Back</button>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
<!-- Paypal Script -->
<script
    src="https://www.paypal.com/sdk/js?client-id=ARwpTasqupsB1v8gSLJQDf9bguf0Zsn2Cp8oNyfylFWcb0kwQ6p6A-HVk9DXGnyWs3MBuZkM8QxGSEX2&currency=GBP">
</script>
<!-- Script to load bag contents -->
<script>
    let bagContents = '{{ bag_products|safe }}';
</script>
<script>
    // Taken from Django docs, allows creation of a csrf token for fetch
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    const paymentAmount = '{{ total | safe }}';
    // Parse bagContents, then for each create a variable for name, id and quantity
    let bag = JSON.parse(bagContents);
    for (let i = 0; i < bag.length; i++) {
        let itemName = bag[i].name;
        let itemId = bag[i].id;
        let itemQuantity = bag[i].quantity;
        console.log(itemName);
        console.log(itemId);
        console.log(itemQuantity);
    }   

    const form = document.getElementById("order_form");

    let formData = new FormData(form);
    let jsonData = JSON.stringify(Object.fromEntries(formData));


    function completeOrder(){
        let url = '{{ success_url }}'

        const request= fetch(url, {
            method: 'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken': csrftoken,
            },
        body:JSON.stringify({"bagContents": bagContents, "jsonData": jsonData} )
        })
    };

    paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: paymentAmount
                    }
                }]
            });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
            return actions.order.capture().then(function (orderData) {
                const transaction = orderData.purchase_units[0].payments.captures[0];
                    return completeOrder()}).then(()=>{
                        let url = window.location.origin + "{% url 'checkout:thank_you' %}";;
                            actions.redirect(url);
                        });
                    }
                }).render('#paypal-button-container');
</script>

{% endblock %}