{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="form-container col-sm-12">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h1 class="pt-5">{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="positive-button" name="action" value="{% trans 'Set Password' %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}