{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="form-container col-sm-12">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h1 class="pt-5">{% trans "Sign Up Closed" %}</h1>

            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            <button class="positive-button" a href="{% url 'home:home' %}">Back to home</button>
        </div>
    </div>
</div>
{% endblock %}