{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container product-container my-4">
    <div class="row align-items-center">
        <div class="col-sm-12 text-center mt-4">
            <h2><strong>{{ name }}</strong></h2>
        </div>
    </div>
    <div class="row mx-4 align-items-center">
        <div class="col-sm-12 text-center py-4 mb-4">
            <img src="{{ image_url }}" alt="{{ name }}" class="product-image">
            <h3 class="py-4">Description:</h3>
            <p class="lead px-4">{{ description }}</p>
            <h3 class="py-4">Price:</h3>
            <p class="lead"><strong> £{{ price }}</strong></p>
        </div>
    </div>
    <div class="row px-4 align-items-center">
        <div class="col-sm-12 text-center mb-4">
            <form class="form" action="{% url 'bag:add_to_bag' id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50 text-center">
                            <div class="input-group">
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                            </div>
                        </div>
                        <input type="submit" class="mt-5 positive-button-lg mx-4" value="Add to Bag">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </div>
            </form>
            <a href="{% url 'products:products_list' %}">
                <button class="negative-button-lg mx-4">Back</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}