{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container product-container my-4">
    <div class="row align-items-center">
        <div class="col-sm-12 text-center mt-4">
            <h2><strong>{{ name }}</strong></h2>
        </div>
    </div>
    <div class="row mx-4 align-items-center">
        <div class="col-sm-12 text-center py-4 mb-4">
            <img src="{{ image_url }}" alt="{{ name }}" class="product-image">
            <h3 class="py-4">Description:</h3>
            <p class="lead px-4">{{ description }}</p>
            <h3 class="py-4">Price:</h3>
            <p class="lead"><strong> £{{ price }}</strong></p>
        </div>
    </div>
    <div class="row px-4 align-items-center">
        <div class="col-sm-12 text-center mb-4">
            <a href="">
                <button class="positive-button-lg mx-4">Add to Basket</button>
            </a>
            <a href="{% url 'products:products_list' %}">
                <button class="negative-button-lg mx-4">Back</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}