{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mb-4">
    <div class="row align-items-center">
        <div class="col-sm-12 text-center mt-4">
            <h2><strong>Products</strong></h2>
            <p>Take a look at our great products below! Yes, we are using photos of our residents to try and guilt you
                into
                buying, and no, we're not ashamed!</p>
        </div>
    </div>
    <div class="row mx-4 justify-content-center mb-4">
        {% for product in products %}
        <a href="{{ product.id }}" class="product-link">
            <div class="col-sm-12 text-center py-4 mx-4 my-4 product-list-container"
                style="background-image: url({{ product.image_url }})">
                <p class="product-name">{{ product.name }}</p>
                <hr class="hr-1">
                <p class="product-price">£{{ product.price }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}