{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mb-4">
    <div class="row align-items-center">
        <div class="col-sm-12 text-center mt-4">
            <h2><strong>Products</strong></h2>
            <p>Take a look at our great products below! Yes, we are using photos of our residents to try and guilt you
                into
                buying, and no, we're not ashamed!</p>
        </div>
    </div>
    <form method="GET" action="{% url 'products:products_list' %}">
        <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="search" placeholder="Search Products">
            <div class="input-group-append">
                <button class="form-control positive-button" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
    <div class="row mx-4 justify-content-center mb-4">
        {% for product in products %}
        <a href="{{ product.id }}" class="product-link">
            <div class="col-sm-12 text-center py-4 mx-4 my-4 product-list-container"
                style="background-image: url({{ product.image_url }})">
                <p class="product-name">{{ product.name }}</p>
                <hr class="hr-1">
                <p class="product-price">£{{ product.price }}</p>
            </div>
        </a>
        {% endfor %}
        {% if not products %}
        <div class="product-container text-center search-error-box my-4">
            <p>Oops, looks like we're missing something here-try again later!</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}